.content {
  span.subtitle {
    color: var(--color-subtitle);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 25px;
  }
  .maintitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 62px;
    color: var(--color-lightn);
  }
  .experience-list {
    padding: 15px;
  
    .resume-single-list{
        &:hover{
            background: #212427;
        }
    }
    .inner .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #1a1d23;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .title h4 {
        color: var(--color-lightn);
        font-family: var(--font-primary);
        font-size: 24px;
        line-height: 39px;
        margin-bottom: 7px;
        font-weight: 500;
        transition: var(--transition);
      }
      .title span {
        color: #7c838e;
        display: block;
        font-size: 14px;
      }
      .date-of-time {
        display: inline-block;
        span {
          color: var(--color-primary);
          display: block;
          font-size: 14px;
          padding: 0 15px;
          height: 36px;
          line-height: 36px;
          border-radius: 6px;
          background: var(--background-color-1);
          box-shadow: var(--shadow-1);
          transition: var(--transition);
          font-weight: 500;
          &:hover{
              box-shadow: var(--shadow-2);
          }
        }
      }
    }
   
    .inner p {
      font-size: 18px;
      line-height: 28px;
      color: var(--color-body);
      transition: var(--transition);
    }
  }
 
}
.title {
  margin-bottom: 15px;
}
