.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.portCard{
    width: 100%;
    padding: 30px;
    margin: auto;
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    border-radius: 20px;
    .zom{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid var(--color-primary);
        img{
            width: 100% !important;
            transform: scale(1);
            cursor: pointer;
            transition: 500ms;
            transform: rotate(18deg);
            &:hover{
                // transform: scale(1.2);
                 transform: rotate(0deg) scale(1.2)  ;
            }
        }
    }
}